<template>
  <div>
      <div class="Bg-Nav">
      <b-navbar toggleable="lg">
      <b-navbar-brand href="#">Kopet</b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-nav-form>
            <b-form-input size="md" class="mr-sm-2" placeholder="Search"></b-form-input>
          </b-nav-form>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
        <b-navbar-nav>
            <b-nav-item href="#"><div class="Nav-Link">Home</div></b-nav-item>
            <b-nav-item href="#"><div class="Nav-Link">Contact</div></b-nav-item>
            <b-nav-item href="#"><div class="Nav-Link">Abaut</div></b-nav-item>
            <b-nav-item href="#"><div class="Nav-Link">Ho To Buy</div></b-nav-item>
            <b-nav-item href="#"><div class="Nav-Link">Blog</div></b-nav-item>
        </b-navbar-nav>
       <b-button v-b-modal.modal-1>Launch demo modal</b-button>

  <b-modal id="modal-1" title="BootstrapVue">
    <p class="my-4">Hello from modal!</p>
  </b-modal>                                                          
          <!-- <b-nav-item-dropdown right> -->
            <!-- Using 'button-content' slot -->
            <!-- <template v-slot:button-content>
              <em>User</em>
            </template>
            <b-dropdown-item href="#">Profile</b-dropdown-item>
            <b-dropdown-item href="#">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown> -->
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
  </div>
</template>
<script>
export default {
  
}
</script>
<style scoped>
.Bg-Nav{
  background-color:green;
  width: 100%;
}
.Body-Nav{
  text-align: end;
  display: flex;
}
.Nav-Link{
  color: azure;
}
</style>